<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143255277778-93hi5khg57cpf12en0oo3ok2hbfiukbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143255277778-93hi5khg57cpf12en0oo3ok2hbfiukbe</string>
	<key>API_KEY</key>
	<string>AIzaSyDpeVfLgaj2UtEgaQB35jlK00U9JDnrLxU</string>
	<key>GCM_SENDER_ID</key>
	<string>143255277778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.VK-Nikita</string>
	<key>PROJECT_ID</key>
	<string>myvk-3004f</string>
	<key>STORAGE_BUCKET</key>
	<string>myvk-3004f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143255277778:ios:9ab7335beda78ffdf01d0b</string>
</dict>
</plist>